= simple_form_for @recipe, html: { multipart: true } do |f|
  - if @recipe.errors.any?
    #errors
      %p
        = pluralize(@recipe.errors.count, "error")
        Prevented this recipe from saving
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Title*"
    = f.input :title, input_html: { class: 'form-control' }, label: false

  .form-group
    = f.label "Description*"
    = f.input :description, input_html: { class: 'form-control' }, label: false

  .form-group
    = f.label "Number of Servings*"
    = f.number_field :serving, input_html: { class: 'form-control', min: '0', step: 'any' }, label: false

  .form-group
    = f.label "Add an Image*"
    = f.file_field :image, input_html: { class: 'form-control'}, label: false

  .form-check
    = f.label "Dietary Restrictions"
    %br/
    = f.collection_check_boxes :category_ids, Category.all, :id, :name, { prompt: "Choose dietary restriction(s)" }, input_html: { class: 'form-check-input'}, label: false

  .form-check
    = f.label "Course/Meal", input_html: { class: 'form-check-label'}
    %br/
    = f.collection_check_boxes :course_ids, Course.all, :id, :name, { prompt: "Choose a course", selected: :course_ids}, input_html: { class: 'form-check-input'}, label: false

  .form-group
    .col-md-6
      .row
        %h3 Ingredients
      #ingredients
      .row
        = f.simple_fields_for :ingredients do |ingredient|
          = render 'ingredient_fields', f: ingredient
        .links
        = link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button btn-xs"
    .col-md-6
      .row
        %h3 Directions
      #directions
      .row
        = f.simple_fields_for :directions do |direction|
          = render 'direction_fields', f: direction
        .links
        = link_to_add_association 'Add Step', f, :directions, class: "btn btn-default add-button btn-xs"
  .form-group
    .row
    %br/
    %br/
    = f.button :submit, class: "btn btn-primary"
