#recipe_show.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .row
          .col-md-3
            .pin-image
              = image_tag @recipe.image.url(:large)
          .col-md-3.col-md-offset-5
            .row
              .col-md-12
                %h1= @recipe.title
              .col-md-12
                %p Shared by #{@recipe.user.username}

              .col-md-12
                %p
                = link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default btn-xs" do
                  %span #{glyph(:heart)} #{@recipe.get_upvotes.size}
                - if user_signed_in? && (@recipe.user.id  == current_user.id)
                  = link_to "Edit", edit_recipe_path, class: "btn btn-default btn-xs"
                  = link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default btn-xs"

              .col-md-12
                %br/
                %p.description= @recipe.description
                %p #{@recipe.serving} servings

                %h4 Dietary Restrictions
                - if @recipe.categories.length == 0
                  %p No Dietary Accommodations Listed
                - else
                  - @recipe.categories.each do |c|
                    %p= c.name

                %h4 Meal/Course
                - if @recipe.courses.length == 0
                  %p No Courses Indicated
                - else
                  - @recipe.courses.each do |c|
                    %p= c.name

      .panel-body
        .row
          .col-md-4
            %h2 Ingredients
            - @recipe.ingredients.each do |ingredient|
              %p
              %span= ingredient.name
              - if ingredient.image?
                %span= link_to glyph(:camera), ingredient.image.url(:medium), remote: true, data: {toggle: "modal", target: "#ing-img-modal"}
              .modal.fade#ing-img-modal{"role"=>"dialog", "aria-labelledby" => "$dir-img-modal-label", "aria-hidden" => "true"}
                .modal-dialog
                  .modal-content
                  = image_tag ingredient.image.url(:medium)


          .col-md-8
            %h2 Directions
            - @recipe.directions.each do |direction|
              %p
              %span= direction.step
              - if direction.attachment?
                %span= link_to glyph(:facetime_video), direction.attachment.url(:medium), controls: true, style: "max-width: 100%;", data: {toggle: "modal", target: "#vid-modal"}
              .modal.fade#vid-modal{"role"=>"dialog", "aria-labelledby" => "${1:mymodal}Label", "aria-hidden" => "true"}
                .modal-dialog
                  .modal-content
                  = video_tag direction.attachment.url(:medium), controls: true, style: "max-height: 100%;"

              - if direction.dir_image?
                %span= link_to glyph(:camera), direction.dir_image.url(:medium), remote: true, data: {toggle: "modal", target: "#dir-img-modal"}
              .modal.fade#dir-img-modal{"role"=>"dialog", "aria-labelledby" => "$dir-img-modal-label", "aria-hidden" => "true"}
                .modal-dialog
                  .modal-content
                  = image_tag direction.dir_image.url(:medium)




      .panel-footer
        .row
          .col-md-12
            %h3 Comments
            %p
            = render @recipe.comments
            %br/
            - if user_signed_in?
              %p= render "comments/form"
            - else
              %p= link_to "Sign in to comment", new_user_session_path
