#recipe_show.row
  .col-md-12
    .panel.panel-default
      .panel-heading.pin-image
        .row
          .col-md-4
            = image_tag @recipe.image.url(:large)
          .col-md-4.col-md-offset-4
            .row
              .col-md-12
                %h1= @recipe.title
              .col-md-12
                = link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default btn-xs" do
                  %span.glyphicon.glyphicon-heart
                  = @recipe.get_upvotes.size
                - if user_signed_in? && (@recipe.user.id  == current_user.id)
                  = link_to "Edit", edit_recipe_path, class: "btn btn-default btn-xs"
                  = link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default btn-xs"
              .col-md-12
                %br/
                %p= @recipe.description

      .panel-body
        .row
          .col-md-4
            %h2 Ingredients
            - @recipe.ingredients.each do |ingredient|
              %p= ingredient.name
              - if ingredient.image?
                %span= link_to 'View Ingredient', ingredient.image.url(:med)
          .col-md-8
            %h2 Directions
            - @recipe.directions.each do |direction|
              %p= direction.step
              -# - if direction.video?
              -#   %li= link_to "View an Video", direction.video.url(:med)

        .row
          .col-md-12
            %h3 Comments
            - @recipe.comments.each do |comment|
              %span= comment.content
              %span Posted by
              %span= comment.user_id
              %span on
              %span= comment.created_at

              - if user_signed_in? && comment.user_id  == current_user.id
                = link_to "X", recipe_comment_path(@recipe, comment.id), method: :delete, class: "btn btn-default btn-sm"

            - if user_signed_in?
              %p= render 'comment_form'
            - else
              %p= link_to "Sign in to comment", new_user_session_path

      .panel-footer
        %p.user
        %span.glyphicon.glyphicon-cutlery
        Shared by
        = @recipe.user.username
        on
        = @recipe.updated_at
