#recipe_show.row
  .col-md-12
    .panel.panel-default
      .panel-heading.pin-image
        .row
          .col-md-4
            = image_tag @recipe.image.url(:large)
          .col-md-4.col-md-offset-4
            .row
              .col-md-12
                %h1= @recipe.title
              .col-md-12
                = link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default btn-xs" do
                  %span.glyphicon.glyphicon-heart
                  = @recipe.get_upvotes.size
                - if user_signed_in? && (@recipe.user.id  == current_user.id)
                  = link_to "Edit", edit_recipe_path, class: "btn btn-default btn-xs"
                  = link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default btn-xs"
              .col-md-12
                %br/
                %p= @recipe.description

      .panel-body
        .row
          .col-md-4
            %h2 Ingredients
            - @recipe.ingredients.each do |ingredient|
              %p
              %span= ingredient.name
              - if ingredient.image?
                %span= link_to 'Ingredient Image', ingredient.image.url(:med)
                -# =image_tag ingredient.image.url(:med)
          .col-md-8
            %h2 Directions
            - @recipe.directions.each do |direction|
              %p
              %span= direction.step
              - if direction.attachment?
                %span= link_to 'Video Clip', direction.attachment.url(:medium), controls: true, style: "max-width: 100%;"
                -# =video_tag direction.attachment.url(:medium), controls: true, style: "max-width: 100%;"

        .row
          .col-md-12
            %h3 Comments
            - @recipe.comments.each do |comment|
              %p
              %span= comment.content
              %span *
              %span Posted by
              %span= comment.user.email
              - if user_signed_in? && comment.user_id  == current_user.id
                -# TODO: refactor the forms out out this view
                -# TODO: add an edit button
                = link_to "delete", recipe_comment_path(@recipe, comment.id), method: :delete, class: "btn btn-default btn-xs"

            - if user_signed_in?
              %p= render 'comments_form'
            - else
              %p= link_to "Sign in to comment", new_user_session_path

      .panel-footer
        %p.user
        %span.glyphicon.glyphicon-cutlery
        Shared by
        = @recipe.user.username
        on
        = @recipe.updated_at
