!!! 5
%html
%head
  %title Recipe Share
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Julius+Sans+One'

%body
%nav.navbar.navbar-default
  .container
    .navbar-brand= link_to "RECIPE SHARE", root_path

    %ul.nav.navbar-nav.navbar-right
      %li
        = form_tag(recipes_path, method: :get, id: "search-form") do
          = text_field_tag :search, params[:search], placeholder: "Search Recipes"
          = submit_tag "Search"

      - if user_signed_in?
        %li= link_to "Add a Recipe", new_recipe_path
        %li= link_to "Account", edit_user_registration_path
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Register", new_user_registration_path
        %li= link_to "Sign In", new_user_session_path

.container
  - flash.each do |name, msg|
    = content_tag :div, msg, class: "alert"

  = yield
